<div class="exp">
<h1>Experience</h1>
<ul>
        <li>
                <h2>Bank of Montreal (Consultant)</h2>
                <h4>Feb 2018 - Now</h4>
                <ul>
                    <li>                        TCS consultant as part of IBM Security Access Manager (ISAM) team at BMO 
                        </li>
                    <li>                        Led schema design for Configuration Management DB in Oracle 
                        </li>
                    <li>                        Automated Excel Form with VBA to validate and upload data to Oracle 
                        </li>
                    <li>                        Created Java program for data migration project of approx. 200k users 
                        </li>
                    <li>                        Responsible for server side and back end integration for a web Intake Form 
                        </li>
                    <li>                        Conducted REST API testing using Postman to add and authenticate user credentials
                        </li>
                </ul>
                
            </li>
            
    <li>
        <h2>Tata Consultancy Services</h2>
        <h4>June 2017 - Now</h4>
        <ul>
              <li>              Developer as part of the Agile Lab R&D initiative 
                </li>
              <li>              Analyze and design database with application areas
                </li>
              <li>              Coordinate database development with a team and/or individually
                </li>
              <li>              Designed and coded application components in an Agile environment
                </li>
              <li>              Web and Mobile Application developed to portray the potential of the lab
                </li>
              <li>              Created and maintained project tasks and schedules using JIRA
                </li>
              <li>              Agile Scrum framework used for software development
                </li>
              <li>              Participated in daily standups, sprint planning meetings
                </li>
              <li>              Constant collaboration with other members of the Agile Lab Team
                </li>
        </ul>
    </li>

    <li>
        <h2>Husky Injection Molding Systems</h2>
        <h4>May 2015 - August 2016</h4>
        <ul>
              <li>              Worked on day to day projects that involved HMI and PLC for Legacy and Polaris Machine.
                </li>
              <li>          Providing online support to on-site technicians around the globe
                </li>
              <li>          Providing solutions to technician to reduce down-time for the customers machines.
                </li>
              <li>          Solid understanding of GE-Fanuc LM90 which was used to do the PLC programming for Legacy
                </li>
              <li>          Basic understanding of Ladder logic
                </li>
              <li>          Communicating with software and hardware team in order to ensure successful completion of each project
                </li>
              <li>          Demonstrated strong communication and team-player skills by successfully achieving tasks on time and keeping quality of the work high
                </li>
        </ul>
    </li>
  </ul>
  </div>