<h1>Experience</h1>
<ul>
    <li>
        <h2>Tata Consultancy Services</h2>
        <ul>
          <li>
              Developer as part of the Agile Lab R&D initiative 
              Analyze and design database with application areas
              Coordinate database development with a team and/or individually
              Designed and coded application components in an Agile environment
              Web and Mobile Application developed to portray the potential of the lab
              Created and maintained project tasks and schedules using JIRA
              Agile Scrum framework used for software development
              Participated in daily standups, sprint planning meetings
              Constant collaboration with other members of the Agile Lab Team
          </li>
        </ul>
    </li>

    <li>
        <h2>Husky Injection Molding Systems</h2>
        <ul>
          <li>
              Worked on day to day projects that involved HMI and PLC for Legacy and Polaris Machine.
          Providing online support to on-site technicians around the globe
          Providing solutions to technician to reduce down-time for the customers machines.
          Solid understanding of GE-Fanuc LM90 which was used to do the PLC programming for Legacy
          Basic understanding of Ladder logic
          Communicating with software and hardware team in order to ensure successful completion of each project
          Demonstrated strong communication and team-player skills by successfully achieving tasks on time and keeping quality of the work high
          </li>
        </ul>
    </li>
  </ul>