<h1>Summary</h1>


<div style="overflow:auto">
  <div class="main">
    <h2>Professional</h2>
    <p>
    Hello, my name is Meet. I am an experienced software developer with over 2 years of experience in the software industry. 
    Having worked on many different technologies, I have found my passion in Web and Mobile domain. I thoroughly enjoy working on 
    projects in those areas because I get to see my work in practice, I get to see what I have developed. <br>
    My professional career goal is to be part of a team-oriented environment where growth is guaranteed with skills increasing at an 
    exponential rate. And, hoping that this leads me to becoming a technical manager allowing me to have an opportunity on the other side to see 
    what I can pull off as a leader. 
  </p>
  </div>

  <div class="right">
    <h2>Personal</h2>
<p>
  First things first, I love to play and watch basketball and it has been my favorite sport since high school. 
  I became a fan of the Los Angeles Lakers, as I used to live there during high school. <br>
  Travelling I have done for 2 reasons and they are Leisure and Circumstance. <br>
  Due to Circumstance I got to live in Los Angeles, and travel in and around California to places like Las Vegas, San Diego and San Francisco. 
  And for the same reasons, Canada is my home for the past 8 years now and will be forever. <br>
  Now, for the leisure trips. Some of my most memorable trips are Banff, Jasper, Vancouver and Hawaii. All of these were with friends and they were amazing.
</p>
  </div>
</div>

<!--
  <ul class="box">
    <div class="about">
    <li>
      <h2>Professional</h2>
  <p>
  Welcome, my name is Meet Pandya<br>
  I am an experienced software developer with over 2 years of experience in the industry<br>
  My passion lies in Web and Mobile Development as I love working on
  technologies in that domain<br>
  By working on numerous personal projects, I keep up with new technologies to enhance and better my skills
</p>
</li>
</div>

<div class="about2">
<li>
    <h2>Personal</h2>
<p>
Basketball and Travelling is what keeps me sane, other than all the coding
<br>I enjoy playing recreational basketball as well as love to watch the NBA <br>
Travelling, I do for 2 reasons, Circumstance or Leisure <br>
Circumstantial traveling was out of my control, but got to live in some cool places<br>
Leisure well, it has been amazing
</p>
</li>
</div>
</ul>

-->