<nav>
    <ul>
    
        <li>
          <a routerLink=""><i class="material-icons">
            home
          </i></a>
        </li>
      
      
     
        <li>
          <a routerLink="workexp">
            <i class="material-icons">
              work_outline
            </i>
          </a>
        </li>
     
        <li>
          <a routerLink="projects"><i class="material-icons">
            forum
          </i></a>
        </li>
     
        <li>
          <a routerLink="contact">
            <i class="material-icons">
              contact_phone
            </i>

          </a>
        </li>
 
    </ul>
    </nav>