<h1>Projects</h1>
<ul>
    <li>

        <h2>Buzr - Android Project</h2>
        <h3>Personal Project</h3>

       
                <ul>
                <li>              Technology : Android Studio, Java, Genymotion Emulator
                    </li>
                <li>Details</li>
                <li>              A timer app, meant to send continuous reminder
                    </li>
                <li>              User selects the window of hours during which timer will be active 
                    </li>
                <li>              User can also select the days of the week 
                    </li>
                <li>              Finally, user selects the interval length, such as every hour, every 15 min etc.
                    </li>
                </ul>

                <a href='https://play.google.com/store/apps/details?id=com.mp.buzr'>
                    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="width: 9%;"/></a>

                
           
        
    </li>

    <li>
        
            <h2>ENS - Android Project</h2>
            <h3>Tata Consultancy Services Agile Lab</h3>
       
       
                    <ul>
                    <li>                  Technology : Android Studio, Java, Firebase
                        </li>
                    <li>                  Prototype Android App project for the Distributed Agile Lab at TCS 
                        </li>
                    <li>                  Implemented Location Monitoring and Geofence Monitoring 
                        </li>
                    <li>                  Upon entering the Geofence area, Notification displayed on device 
                        </li>
                    <li>                  Performed testing on Physical device and Android emulator 
                        </li>
                    </ul>
        </li>

    <li>
       
        <h2>Agile Innovation Hub - Web Project</h2>
        <h3>Tata Consultancy Services</h3>
   

        <ul>

                <li>              Technology : Nodejs, Expressjs, MongoDB 
                    </li>
                <li>              MVC software architectural pattern followed closely 
                    </li>
                <li>              Client project submission is the underlying purpose of this project 
                    </li>
                <li>              Submitted projects can be approved or rejected by Admin 
                    </li>
                <li>              Feedback feature allows customer/client to leave comments for the Agile Lab 
                    </li>
                <li>              User Management allows admin to modify user 
                    </li>
                </ul>

    </li>


    <li>
     
            <h2>Maple Leaf Report - Web Project</h2>
            <h3>University Final Year Project</h3>


            <ul>
                   
                    <li>                  Technology : HTML, CSS, Javascript, PHP, MySQL
                        </li>
                    <li>                  Dynamically generated search results based on search by user input or by ratings 
                        </li>
                    <li>                  Allows user registration, login, submission of reviews and objects 
                        </li>
                    <li>                  Securely stores user info by hashing and salting entered password 
                        </li>
                    <li>                  User can submit a park they have visited but not found on the website 
                        </li>
                    </ul>
            
                    <a href="https://github.com/pandyama/Canada-Parks-Review">
                        <img class="one" src='assets/images/git2.png' style="width: 2%;"/>
                    </a>


        </li>


  </ul>


  