<h1>Projects</h1>
<ul>
    <li>
        <h2>Buzr</h2>
        <ul>
          <li>
              Essentially, its a timer app, meant to send continuous reminder at intervals chosen by the user. Allows you to pick days as well as the window of hours during which you would like the timer to go off. 
          </li>
        </ul>
    </li>

    <li>
        <h2>Agile Innovation Hub</h2>
        <ul>
          <li>
              Prototype Website using Nodejs, Expressjs, MongoDB
Purely based on MVC software architectural pattern
Allows clients to submit project requests 
Submitted projects can be approved or rejected by Admin
Feedback feature allows customer to leave comments for the lab
User Management allows admin to modify user 
          </li>
        </ul>
    </li>
  </ul>
